﻿@charset "utf-8";

@import url("global_base.css");
@import url("global_reset.css");
@import url("global_fonts.css");

@import url("admin_form.css");
@import url("admin_table.css");

@import url("jquery.thickbox.css");
@import url("jquery.treeview.css");


html,body { background:#f3f3f3; margin:0; padding:0; height:100%;}
html {}
* { color:#5A6360;}


/* global */
* { line-height:1.6; font-family:Calibri;}
input,textarea,select,option { font-size:12px; color:#000009; vertical-align:middle;}
input,textarea { line-height:1.231; padding:1px;}
h1,h2,h3,h4,h5,h6 { margin:15px 0;}
div,p,q,td,legend,li,dd,dt,span,strong { font-size:12px; word-wrap:break-word; word-break:break-all; -webkit-text-size-adjust:none;}
img { border:0;}
strong { font-weight:bold;}
a { color:#12c; text-decoration:none; line-height:1.231;}
a:hover { text-decoration:underline;}


/* title */
h1 { font-size:24px; line-height:1.231; margin:0 0 25px; font-family:tahoma;}
h2 { font-size:20px; line-height:1.231; margin:0 0 25px; font-family:tahoma;}
h3 { font-size:18px;}
h4 { font-size:16px;}
h5 { font-size:14px;}
h6 { font-size:12px;}

/* other */
.clear { border-top:1px solid transparent !important; margin-top:-1px !important; border-top:0; margin-top:0; clear:both; visibility:hidden;}
.break { word-break:break-all; width:620px; overflow:auto;}

/* form */
input.btn { margin:0; padding:1px .25em 0; line-height:1.231; height:20px; overflow:hidden; font-size:12px; width:0;/* for IE only */ overflow:visible;}
input.btn[class] { /* IE ignores [class] */ width: auto;}
textarea { width:600px;}



/* ##### Layout ##### */

div.container { margin:0 auto; width:100%; height:100%;}
div.wrapper{ float:left; width:100%;}
	div.wrapper h1 { margin:0 0 30px;}
	div.wrapper div.add, div.wrapper ul.add { font-size:14px; margin:0 0 0 auto; height:19px; width:120px; text-align:right;}
	div.wrapper div.search { margin:0 0 20px; overflow:hidden; text-align:right; background:#; height:22px;}
	div.wrapper div.back { margin:0 0 20px; line-height:22px; height:22px; overflow:hidden;}
	div.wrapper div.table_style { margin:0 0 20px;}
	div.wrapper .handle {}
	div.wrapper div.pages { margin:0 0 30px; text-align:center; background:#;}
	div.wrapper .footer { text-align:center; padding:10px 0 0; margin:0 0 80px;}
div.content { margin:0 20px 0 160px; margin-bottom:30px;}
div.menu { float:left; width:140px; margin-left:0; background:#666; height:100%; z-index:10; position:fixed;}
div.extra { float:left; width:150px; margin-left:-150px;}




/*#################################################
--------------------------------------------------
共用模块
--------------------------------------------------
#################################################*/


/* MENU */
.navigation { margin:30px 20px 30px 30px;}
	.navigation h3 { margin:0 0 30px;}
		.navigation h3 a { color:#fff; font-size:14px;}
	.navigation .item { margin:0 0 15px; color:#cecfbf; line-height:1.231; background:#;}
		.navigation .item a { font-size:12px; margin:0 0 10px; color:#fdffe9; line-height:1.231;}
		.navigation .optiton { margin:15px 0 15px 5px; display:none; background:#;}
			.navigation .optiton li { margin:0 0 12px; line-height:1.231; background:url(/img/icon_dot.gif) no-repeat 0 5px; padding:0 0 0 12px;}
				.navigation .optiton li a { font-size:12px; color:#cecfbf; line-height:1.231;}
.navigation .on { background:#ff0; color:#000!important;}
.navigation hr { background:#999; margin:17px 0 17px -1px; overflow:hidden; color:#ccc; height:1px; line-height:1px; font-size:0; border:0;}



/* Userinfo */
.userinfo { padding:5px 0 0; margin:0 0 10px; text-align:right;}
	.userinfo #username {  text-transform:capitalize; margin:0 5px 0 0;}
	.userinfo #logout { color:#999; text-decoration:underline; margin:0 0 0 5px;}

/* Tabs */
.tabs { margin:0 0 20px; position:inherit;}
	.tabs .wrap { border-bottom:1px solid #ccc; position:relative; height:1%; display:table; width:100%;}
		.tabs .wrap .in { float:left; margin:0 4px 0; position:relative; top:1px; padding:5px 15px 1px; border:1px solid #ccc; border-bottom:1px solid #f3f3f3; font-size:14px; font-weight:bold; color:#000009; line-height:1.6;}
		.tabs .wrap .out { float:left; margin:5px 4px 0; font-size:12px; position:relative; top:1px; padding:4px 12px 2px; background:#ddd;}
			.tabs .wrap .out a { line-height:1.5;}
		.tabs .wrap .tabnot { font-size:14px; position:absolute; right:0; top:.5em;}
		.tabs a { color:#5A6360;}
		/* Add */
		.tabs .add {}
			.tabs .add a { font-size:14px; color:#c00;}
			.tabs .add em { background:url(/images/arrow.png) no-repeat 0 0; padding:0 6px; cursor:pointer;}
			.tabs .add .links_menu { display:none; position:relative; top:2px; right:0; padding:10px; border:solid 1px #DEDEDE; border-right:solid 1px #999; border-bottom:solid 1px #999; background:#fff;}
				.tabs .add .links_menu a { display:block; font-size:12px!important; line-height:1.8;}
				.tabs .add .links_menu .item_line { border-top:solid 1px #DEDEDE; margin:5px 0 0; padding:5px 0 0;}
		
/* Buttonrow */
.img_size, .img_size * { line-height:1.5;}
	.img_size li { list-style-type:none; margin:0 0 3px;}
	.img_size li.on { font-weight:bold;}
	.img_size u { text-decoration:none; margin-right:10px; width:55px; float:left; display:block;}

/* Pages Style */
.pages {}
	.pages p { font-size:12px;}
	.pages a { margin:0 5px;}
	.pages em { margin:0 5px; font-size:16px; font-weight:bold;}
	.pages span#prev, .pages span#next { color:#; margin:0 5px;}

/* Plus & Minus */


/*#################################################
--------------------------------------------------
分页模块
--------------------------------------------------
#################################################*/





