﻿@charset "utf-8";


.table_style { border:0 #cecfbf solid;}
.table_style * { font-family:; font-size:12px; line-height:1.231;}
.table_style table { width:100%;}
	

/* 表格风格 Table Style */

.table_style thead, .table_style tfoot { background:#ddd;}
.table_style thead th[class=link]:hover, .table_style tfoot th[class=link]:hover { background:#f9f9f9;}
.table_style thead a, .table_style tfoot a { color:#666; font-size:12px; text-decoration:underline;}
.table_style thead a:hover, .table_style tfoot a:hover { background:none;}

.table_style td { border:1px #ccc solid; color:#333; padding:7px 5px; +padding:5px 5px 4px 5px;}
.table_style th { font-weight:lighter; border:1px #ccc solid; padding:7px 5px; +padding:5px 5px 4px 5px;}

.table_style tbody tr { background:#fff;} /* 间行换色 */
.table_style tbody tr:hover { background:#f3f3f3;} /* 行触发换底色 */
.table_style tbody tr.selected { background:#ffecec;} /* 行点击换底色 ffecec */

.table_style .sort { background:#ebedc6;} /* 点击th 排序 */
.table_style thead .sort, .table_style tfoot .sort { background:#c5c5c5;}
	.table_style thead .sort a.descending, .table_style tfoot .sort a.descending { background:url(../img/sort_asc.png) no-repeat left 0; padding-left:15px;} /* 首次点击 降序 */
	.table_style thead .sort a.ascending, .table_style tfoot .sort a.ascending { background:url(../img/sort_asc.png) no-repeat left -16px; padding-left:15px;} /* 二次点击 升序 */
.table_style thead th { font-weight:lighter;}
.table_style tbody .sort { background:#e5e5e5;}

.table_style td .links { background:url(../images/url_icon.gif) no-repeat left 0px; padding:0 5px; margin:0 4px 0 0;}
	.table_style td a.links:hover { background:url(../images/url_icon.gif) no-repeat left 0px;}



/*#################################################
--------------------------------------------------
字段
--------------------------------------------------
#################################################*/

.table_style .checkbox { width:29px; text-align:center; padding-left:0; padding-right:0;}
.table_style .id { width:40px; padding-right:0;}
.table_style .name { width:140px;}
.table_style .province { width:140px;}
.table_style .gps { width:100px;}
.table_style .tags { width:;}
.table_style .linked { width:150px; text-align:right;}
	.table_style .linked  ul { margin-top:3px;}
	.table_style .linked  ul li { line-height:1.5;}
	.table_style .linked  ul label { width:70px; float:left; text-align:left; margin-left:5px; display:block; line-height:1.5; color:#999;}
.table_style .star { width:40px; text-align:right;}
.table_style .time { width:65px; text-align:right;}
.table_style .dateUp { width:70px; text-align:right;}
.table_style .dateCr { width:70px; text-align:right;}
.table_style .remark { width:80px;}
.table_style .work { width:30px; text-align:center;}
	.table_style .work a { margin:0 3px;}
	
.table_style .size { width:220px;}
	.table_style .size .img_size, .img_size * { line-height:1.5;}
	.table_style .size .img_size li { list-style-type:none; margin:0 0 3px;}
	.table_style .size .img_size li.on { font-weight:bold;}
	.table_style .size .img_size u { text-decoration:none; margin-right:10px; width:60px; float:left; display:block;}



/*#################################################
--------------------------------------------------
PAGES
--------------------------------------------------
#################################################*/

#trip_tags .table_style .name { width:auto;}
#trip_scenic .table_style .work { width:85px;}
















.table_style .count { width:30px;}
.table_style .sn { width:40px;}
	.table_style .sn a.descending { background-position:right -12px!important; padding:0 15px 0 0!important;}
	.table_style .sn a.ascending { background-position:right 0!important; padding:0 15px 0 0!important;}
.table_style .kind { width:50px; padding-right:0;}
.table_style .name { padding-right:0;}
	/* .table_style .name .img { background:url(../images/icon_image.gif) no-repeat left 2px; padding:0 5px; margin:0 0 0 4px;} */
	.table_style .name .text {}
	.table_style .name .key { background:url(../images/icon_stamp_key.gif) no-repeat -1px 0px; padding:0 6px; margin:0 0 0 3px;}
.table_style .money { width:70px; text-align:right; padding-left:0;}
.table_style .publishHow { width:60px; text-align:right; padding-left:0;}
.table_style .publishDate { width:70px; text-align:right; padding-left:0;}
.table_style .updateDate { width:70px; text-align:right; padding-left:0;}
.table_style .creatDate { width:70px; text-align:right; padding-left:0;}
.table_style .match {  width:70px; text-align:right; padding-left:0;} /* 匹配 tags */

.table_style .head { width:36px; text-align:center; padding-left:3px; padding-right:3px;}
	.table_style .head img { width:30px; height:30px;}
.table_style td.username { padding-bottom:0;}
	.table_style td.username .nickname { text-transform:capitalize; line-height:1.231; color:#000;}
	.table_style td.username .mail { font-size:11px; line-height:1.7; text-transform:lowercase; color:#999;}
	.table_style td.username .man { background:url(/images/icon_sex_man.png) no-repeat 0 -1px; padding:0 5px;}
	.table_style td.username .woman { background:url(/images/icon_sex_woman.png) no-repeat 0 -1px; padding:0 5px;}
.table_style td.area { width:160px; padding-bottom:0;}
	.table_style td.area .residence {}
	.table_style td.area .nativePlace { line-height:1.7; color:#999;}
.table_style td.years { width:60px; text-align:right; padding-bottom:0;}
	.table_style th.years  { text-align:right;}
	.table_style td.years .long {}
	.table_style td.years .birthday { line-height:1.7; color:#999; font-size:11px;}
	
.table_style td.lastLogin { width:90px; text-align:right; padding-bottom:0; padding-left:0;}
	.table_style th.lastLogin  { text-align:right;}
	.table_style td.lastLogin .date { font-size:11px;}
	.table_style td.lastLogin .ip { color:#999; line-height:1.7; font-size:11px;}
.table_style td.regDate { width:90px; text-align:right; padding-bottom:0; padding-left:0;}
	.table_style th.regDate  { text-align:right;}
	.table_style td.regDate .date { font-size:11px;}
	.table_style td.regDate .ip { color:#999; line-height:1.7; font-size:11px;}

.table_style .title { width:120px;}
.table_style .review {}
.table_style td.lastComment { width:70px; text-align:right; padding-bottom:0; padding-left:0;}
	.table_style th.lastComment  { text-align:right;}
	.table_style td.lastComment .date { font-size:11px;}
	.table_style td.lastComment .time { color:#999; line-height:1.7; font-size:11px;}
	
.table_style .keywords { width:140px;}
.table_style .attribute { width:80px;}
.table_style .category {}
	.table_style .category a.del { font-style:italic; margin-left:2px;}

.table_style .photos { width:110px; text-align:center;}
.table_style td.updateTime { width:70px; text-align:right; padding-bottom:0; padding-left:0;}
	.table_style th.updateTime  { text-align:right;}
	.table_style td.updateTime .date { font-size:11px;}
	.table_style td.updateTime .time { color:#999; line-height:1.7; font-size:11px;}
.table_style td.uploadTime { width:70px; text-align:right; padding-bottom:0; padding-left:0;}
	.table_style th.uploadTime  { text-align:right;}
	.table_style td.uploadTime .date { font-size:11px;}
	.table_style td.uploadTime .time { color:#999; line-height:1.7; font-size:11px;}



/*#################################################
--------------------------------------------------
PAGES
--------------------------------------------------
#################################################*/

#system_stampFieldVersion .table_style .name { width:100px;}
#system_stampFieldVersion .table_style .type { width:70px;}

#system_stampFieldPrinting .table_style .name { width:200px;}
#system_stampFieldPrinting .table_style .city { width:60px;}
#system_stampFieldPrinting .table_style .enSign { width:60px;}

#system_footerLinks .table_style .enSign { width:60px;}


