﻿@charset "utf-8";


/* Buttonrow */
.buttonrow { margin:20px 0 50px 0;}
	.buttonrow .chief { font-weight:bold;}
	
/* Photo */
.tao_photo { padding:0 0 0 170px; margin:0 0 20px;}
	.tao_photo img { vertical-align:middle; margin:0 5px 0 0;}	
	

/*#################################################
--------------------------------------------------
共用模块
--------------------------------------------------
#################################################*/


.editor { margin:0 0 0; padding:0 0 50px;}
	.editor .item { padding:5px 0;}
	.editor .field { color:#5A6360; height:auto; width:150px; display:block; float:left; text-align:right;}
		.editor .field em { color:#f00; font-size:10px; font-family:Arial; visibility:hidden;}
		.editor .field em.required { visibility:visible;}
	.editor .wrap { margin-left:170px;}
		
	.editor .note { color:#bbb; margin:0 0 0 5px;}
	.editor .buttonrow { margin:20px 0 50px 170px;}

		.editor #item_gps					{} /* GPS */
			.editor #item_gps .maps_search			{ margin:0 0 10px;}
			.editor #item_gps .table_style table	{ width:600px;}
				.editor #item_gps .table_style table .sel		{ width:40px; text-align:center;}
				.editor #item_gps .table_style table .ads		{ width:;}
				.editor #item_gps .table_style table .lon		{ width:100px; text-align:right;}
				.editor #item_gps .table_style table .lat		{ width:100px; text-align:right;}
			.editor #item_gps .google_maps 			{ width:600px;}
			.editor #item_gps .gps_value			{}			
			.editor #item_gps img			{ margin-bottom:5px;} /* GPS */
			.editor #item_gps #lon			{ width:100px;} /* 经度 */
			.editor #item_gps #lat			{ width:100px;} /* 纬度 */
			.editor #item_gps #ele			{ width:80px;} /* 海拔 */
			
		.editor #item_name					{} /* 名称 */
			.editor #item_name input		{ width:300px;}
		.editor #item_nameAbb				{} /* 简称 */
			.editor #item_nameAbb input		{ width:300px;}
		.editor #item_nameAli				{} /* 别称 */
			.editor #item_nameAli input		{ width:300px;}
		.editor #item_province				{} /* 行政区划 */
		.editor #item_photo					{} /* 照片 */
		.editor #item_star					{} /* 星级 */
		.editor #item_time					{} /* 建议时间 */
		.editor #item_traffic				{} /* 交通方式 */
			.editor #item_traffic .wrap label		{ margin-right:5px; color:#000;}
		.editor #item_month					{} /* 最佳观赏 */
			.editor #item_month .wrap label		{ margin-right:5px; color:#000;}
		.editor #item_info					{} /* 简介 */
			.editor #item_info textarea		{ height:260px;}
		.editor #item_remark				{} /* 备注 */
			.editor #item_remark textarea	{ height:100px;}
			
			
			
			
			
			
			
			
			
			
			
			
		.editor #item_nameEn		{} /* 名称 */
			.editor #item_nameEn input	{ width:300px;} /* 名称 */
		.editor #item_type			{} /* 断代和地区 & 分类 & 志号 */
			.editor #item_type #periodize	{}
			.editor #item_type #kind		{}
			.editor #item_type #chinaNum	{}
		.editor #item_scottNum		{} /* Scott编号 */
		.editor #item_michelNum		{} /* Michel编号 */
		.editor #item_sn			{} /* 序号 */
			.editor #item_sn input			{} /* 序号 */
		.editor #item_count			{} /* 枚数 */
		.editor #item_version		{} /* 版别 */
		.editor #item_printing		{} /* 印刷厂 */
		.editor #item_rePrinting	{} /* 加盖厂 */
		.editor #item_designer		{} /* 设计者 */
			.editor #item_designer input	{ width:300px;} /* 名称 */
		.editor #item_sculptor		{} /* 雕刻者 */
			.editor #item_sculptor input	{ width:300px;} /* 名称 */
		.editor #item_publishYear	{} /* 发行年 */
		.editor #item_publishDate	{} /* 发行日期 */
			.editor #item_publishDate #dateicon { background:url(/images/datefield.png) no-repeat 0 1px; padding:3px 7px; height:16px; height:22px; margin-left:9px; cursor:pointer;}
		.editor #item_publishHow		{} /* 发行量 */
		.editor #item_money			{} /* 面值 */
		.editor #item_unit			{} /* 单位 */
		.editor #item_dental			{} /* 齿度 */
		.editor #item_zhangSize			{} /* 尺寸 */
			.editor #zhangWidth		{ width:30px;}
			.editor #zhangHeight	{ width:30px;}
		.editor #item_piaoSize			{} /* 尺寸 */
			.editor #piaoWidth		{ width:30px;}
			.editor #piaoHeight		{ width:30px;}
		.editor #item_layout		{} /* 版式 */
		.editor #item_photo			{} /* 照片 */
			.editor #item_photo img 	{ max-width:400px; vertical-align:top;}
			.editor #item_photo .img_size { margin-top:10px;}
		.editor #item_attribute		{} /* 属性 */
			.editor #item_attribute input	{}
			.editor #item_attribute label	{ margin:0 10px 0 1px;}
			.editor #item_attribute #piaoKey	{} /* 筋票 */
			.editor #item_attribute #highValue	{} /* 高值 */
			.editor #item_attribute #errorIssue	{} /* 错票 */
		.editor #item_tags			{} /* 相关分类 */
			.editor #item_tags input	{ width:300px;}
		.editor #item_release		{} /* 发行资料 */
			.editor #item_release textarea	{ height:260px;}
		.editor #item_pattern		{} /* 图案说明 */
			.editor #item_pattern textarea	{ height:260px;}
		.editor #item_html			{} /* HTML代码 */
			.editor #item_html textarea	{ height:260px;}
		.editor #item_enSign			{} /* 英文 */
			.editor #item_enSign input	{ width:120px;}
		
	.editor .errors { background:#ffc;} /* FFC */
		.editor .errors label { color:#f00; font-weight:bold;}


