{% extends "admin/change_list_base.html" %}
{% comment %}
{% extends "admin/index.html" %}
{% load url from future %}
{% load adminmedia admin_list i18n %}
{% block basecontent %}
    <h1>所有{% blocktrans with cl.opts.verbose_name as name %}{{ name }}{% endblocktrans %}</h1>
    {% block tabs %}
    <div class="tabs">
        <div class="wrap">
            <div id="all" class="out"><a href="./#all">全部</a></div>
            <div id="lat" class="out"><a href="?lat__isnull=True#lat">无GPS</a></div>
            <div id="image" class="out"><a href="?image__isnull=True#image">无照片</a></div>
            <div id="tags" class="out"><a href="?tags__isnull=True#tags">无主题</a></div>
            <div class="tabnot">
              <a href="add/{% if is_popup %}?_popup=1{% endif %}" class="addlink">
                {% blocktrans with cl.opts.verbose_name as name %}+添加{{ name }}{% endblocktrans %}
              </a>
            </div><!-- end .tabnot -->
        </div>
    </div>
    {% endblock %}

    {% if cl.formset.errors %}
        <p class="errornote">
        {% blocktrans count cl.formset.errors|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
        </p>
        {{ cl.formset.non_form_errors }}
    {% endif %}
    <div class="module{% if cl.has_filters %} filtered{% endif %}" id="changelist">
      {% block search %}{% search_form cl %}{% endblock %}
      {% block date_hierarchy %}{% date_hierarchy cl %}{% endblock %}

      {% block filters %}
        {% if cl.has_filters %}
          <div id="changelist-filter">
            <h2>{% trans 'Filter' %}</h2>
            {% for spec in cl.filter_specs %}{% admin_list_filter cl spec %}{% endfor %}
          </div>
        {% endif %}
      {% endblock %}

      <form id="changelist-form" action="" method="post"{% if cl.formset.is_multipart %} enctype="multipart/form-data"{% endif %}>{% csrf_token %}
      {% if cl.formset %}
        <div>{{ cl.formset.management_form }}</div>
      {% endif %}

      {% block result_list %}
          {% if action_form and actions_on_top and cl.full_result_count %}{% admin_actions %}{% endif %}
          {% result_list cl %}
          {% if action_form and actions_on_bottom and cl.full_result_count %}{% admin_actions %}{% endif %}
      {% endblock %}
      {% block pagination %}{% pagination cl %}{% endblock %}
      </form>
    </div>
{% endblock %}
{% endcomment %}
