{% extends "admin/change_form_base.html" %}
{% block mapsearch %}
    <script type="text/javascript">
        function search_baidu(){
            key_word = $('#keyword').val()
            window.open('http://www.baidu.com/s?wd='+key_word);
        }
        function search_google(){
            key_word = $('#keyword').val()
            window.open('http://www.google.com.hk/#hl=zh-CN&newwindow=1&safe=strict&q='+key_word);
        }
        function search_baike(){
            key_word = $('#keyword').val()
            window.open('http://baike.baidu.com/search?type=0&pn=0&rn=10&submit=search&word='+encodeURI(key_word));

        }
    </script>
                    <div class="maps_search">
                        <input id="keyword" type="text" name="textfield22" style="color:#000;" placeholder="关键词" value="{{ adminform.form.full_name.value }}" />
                        <input type="submit" value="搜索" class="btn chief" onclick="GetGeo();return false;" />
                        <input type="button" onclick="search_baidu()" value="百度"/>
                        <input type="button" onclick="search_google()" value="谷歌"/>
                        <input type="button" onclick="search_baike()" value="百度百科"/>
                    </div>
                    <div class="table_style">
                            <table id="locationGrid" class="k-grid k-widget" style="width: 600">
                                <thead class="k-grid-header">
                                    <tr>
                                        <th>
                                            ID
                                        </th>
                                        <th>
                                            地址
                                        </th>
                                        <th>
                                            经度
                                        </th>
                                        <th>
                                            纬度
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td colspan="4">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <script id="template" type="text/x-kendo-template">
                <tr>
                    <td>
                        <a href='javascript:onSubmit(${id},"CELL");' id='loc_${id}'>${id}</a>
                    </td>
                    <td>
                        #=address#
                    </td>
                    <td>
                        #=lng #
                    </td>
                    <td>
                        ${ lat }
                    </td>

                </tr>
                            </script>
							</div><!-- .table_style end -->
                <!--    <div id="map_canvas"style="width: 600px; height: 500px;">
                    </div>
                     <div class="gps_value">
                        <input id="lng" type="text" name="lng" style="color:#bbb;" value="{{ adminform.form.lng.value|default_if_none:'' }}" placeholder="经度" />
						<input id="lat" type="text" name="lat" style="color:#bbb;" value="{{ adminform.form.lat.value|default_if_none:'' }}" placeholder="纬度" />
                        <input id="ele" type="text" name="altitude" style="color:#bbb;" value="{{ adminform.form.altitude.value|default_if_none:'' }}" placeholder="海拔" />
                        <span class="note">不要加单位</span>
                    </div>-->
    <script>

        var geocoder = new google.maps.Geocoder();
        var map;
        var color = "#FF8075";
        var styleIconClass = new StyledIcon(StyledIconTypes.CLASS, { color: color, fore: "#FFF" }); //30A7FD
        var arrLatLng = new Array();
        var curr_marker;
        var marker_list = new Array();
        var curr_infowin;
        var geos = new Array();
        var txtLat;
        var txtLng;
        var dataSource;
        var template;


        $(document).ready(function () {
            dataSource = new kendo.data.DataSource({
                data: geos,
                change: function () {
                    $("#locationGrid tbody").html(kendo.render(template, this.view()));
                }
            });
            template = kendo.template($("#template").html());



            txtLat = $("#lat");
            txtLng = $("#lng");

            if (txtLat.val() != "" && txtLng.val() != "") {
				document.getElementById("map_canvas").style.display="block";
                var latlng = new google.maps.LatLng(txtLat.val(), txtLng.val());
                var myOptions = {
                    zoom: 8,
                    center: latlng,
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                }
                map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);


                var marker = get_marker("#FF8075", latlng, "", 0);
                marker.setMap(map);
            }
			else{
				 document.getElementById("map_canvas").style.display="none";
			}
			if($("#keyword").val() == "" || $("#keyword").val() == "关键词"){
				document.getElementById("locationGrid").style.display="none";
			}


        });


        function onSubmit(index, source) {
            var item = geos[index];
            txtLat.val(item.lat);
            txtLng.val(item.lng);

			
			var divResult = getKeysByValue(item.province,item.city,item.division);
			var divInfo = "";
			if((divResult +"").indexOf("ERROR") >=0){
				divInfo = "更新行政区划不成功！！！" + divResult.replace("ERROR","");
			}
			else{
								
					//$("input[name='location']").val(divResult);
					//locs[0].value =divResult;
					//alert("aa" + locs[0].value);
					//alert(yyy.length);
					//var loc = $(".idlocation");
					select_pid_by_gps("location",divResult);
					if($("input[name='location']").html() == null){
						$("#location").append($('<input></input>')
							.attr({ name : "location",type:"hidden", value:divResult })
						);
					}

		
					//alert("ddddddddddd" + $("input[name='location']").val());
					
					//alert(xxx);
					//alert(xxx[0].val());
					//alert($("#location"));
					//document.getElementById("location").value =  divResult;
					//alert("vvv=" + document.getElementById("location").value);
					divInfo = "行政区划更新成功!";
			}
            alert("GPS更新成功! " + divInfo);			
        }

        function CreateGrid() {
            $("#grid").kendoGrid({
                dataSource: {
                    data: dataSource,
                    schema: {
                        model: {
                            fields: {
                                id: { type: "string" },
                                address: { type: "string" },
                                lng: { type: "string" },
                                lat: { type: "string" }

                            }
                        }
                    },
                    pageSize: 10
                },
                height: 250,
                scrollable: true,
                sortable: false,
                filterable: false,
                pageable: {
                    input: true,
                    numeric: false
                },
                rowTemplate: kendo.template($("#rowTemplate").html()),
                columns: [
                            {
                                field: "id",
                                title: "ID",
                                width: 50
                            },
                            {
                                field: "address",
                                title: "地址"
                            },
                            {
                                field: "lng",
                                title: "经度"
                            },
                            {
                                field: "lat",
                                title: "纬度"
                            }
                        ]
            });

        }

        function GetGeo() {

            var searchControl = $("#keyword");
			document.getElementById("map_canvas").style.display="block";
			document.getElementById("locationGrid").style.display="block";
			
            //var msg = $get("msg");
            //msg.innerHTML = "获取经纬度信息....";
            var searchTxt = searchControl.val(); //1600 Pennsylvania Avenue NW Washington, DC 20500
            //var aaa = aa1;
            geos.length = 0;
            geocoder.geocode({ 'address': searchTxt }, function (results, status) {
                if (status == google.maps.GeocoderStatus.OK) {
                    for (var i = 0; i < results.length; i++) {
                        geos[i] = {
                            "id": i,
                            "lat": results[i].geometry.location.lat(),
                            "lng": results[i].geometry.location.lng(),
                            "address": results[i].formatted_address,
                            "country": "",
                            "province": "",
                            "city": "",
                            "division": "",
                            "locality1": "",
                            "locality2": "",
                            "type": results[i].types[0] + " , " + results[i].types[1],
                            "status": "OK"
                        };
                        var latlng = new google.maps.LatLng(geos[i].lat, geos[i].lng);
                        arrLatLng[i] = latlng;

                        if (i == 0) {

                            var myOptions = {
                                zoom: 8,
                                center: latlng,
                                mapTypeId: google.maps.MapTypeId.ROADMAP
                            }
                            map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);


                        }

                        var marker = get_marker("#FF8075", latlng, geos[i].address, i);
                        //alert(results[i].geometry.location);
                        marker_list[i] = marker;
                        marker.setMap(map);
                    }
                    for (var i = 0; i < results.length; i++) {
                        var countryIndex = GetCountryIndex(results[i]);
                        if (countryIndex == -1) {
                            var errorMsg = "不能获取正确的国家节点信息!";
                            geos[i].status = errorMsg;
                            break;
                        }

                        geos[i].country = results[i].address_components[countryIndex].long_name;
                        if (countryIndex - 1 >= 0) {
                            geos[i].province = results[i].address_components[countryIndex - 1].long_name;
                        }
                        if (countryIndex - 2 >= 0) {
                            geos[i].city = results[i].address_components[countryIndex - 2].long_name;
                        }
                        if (countryIndex - 3 >= 0) {
                            geos[i].division = results[i].address_components[countryIndex - 3].long_name;
                        }
                        if (countryIndex - 4 >= 0) {
                            geos[i].locality1 = results[i].address_components[countryIndex - 4].long_name;
                        }

                        if (countryIndex - 5 >= 0) {
                            geos[i].locality2 = results[i].address_components[countryIndex - 5].long_name;
                        }


                    }

                    dataSource.read();
                    //CreateLocationGrid(geos);
                    //var grid = $("#grid");
                    //var ds = grid.dataSource;



                    for (var i = 0; i < results.length; i++) {
                        var num = i;
                        var xxx = $('#loc_' + num);
                        $('#loc_' + num).mouseenter(function () {
                            var index = parseInt(this.id.split('_')[1], 10);
                            marker_list[index].setAnimation(google.maps.Animation.BOUNCE);
                        });

                        $('#loc_' + num).mouseleave(function () {
                            var index = parseInt(this.id.split('_')[1], 10);
                            marker_list[index].setAnimation();
                        });

                        var contentString = "加载数据..."; // get_wininfo(geos[i]);

                        var infowindow = new google.maps.InfoWindow({
                            content: contentString,
                            position: marker.getPosition()

                        });



                        google.maps.event.addListener(marker_list[i], 'click', function () {
                            open_info_window(geos[this.wg_sys_num], map, infowindow, this)
                        });
                    }


                    google.maps.event.addListener(map, 'click', function () {
                        if (curr_infowin != null && curr_infowin != undefined) {
                            curr_infowin.close();
                        }

                        if (curr_marker != null && curr_marker != undefined) {
                            curr_marker.setAnimation();
                        }
                        curr_infowin = null;
                        curr_marker = null;
                    });

                    //msg.innerHTML = "完成";
                }
                else {
                    //msg.innerHTML = "错误:" + status;
                    alert("错误:" + status);
                }
            });

        }
        function GetCountryIndex(geo) {

            for (var j = 0; j < geo.address_components.length; j++) {
                if (geo.address_components[j].types[0] == "country") {
                    return j;
                }
            }

            return -1;
        }

        function get_marker(color, latlng, name, num) {
            var styleIconClass = new StyledIcon(StyledIconTypes.CLASS, { color: color, fore: "#FFF" }); //30A7FD
            var marker = new StyledMarker({
                styleIcon: new StyledIcon(StyledIconTypes.MARKER, { text: '' + num }, styleIconClass),
                position: latlng,
                title: name
            });
            marker.wg_sys_num = num;
            return marker;
        }

        function _animate_marker(marker) {
            marker.setAnimation(google.maps.Animation.BOUNCE);
            curr_marker = marker;
        }

        function set_animate_marker(marker) {
            if (curr_marker != null && curr_marker != undefined) {
                if (curr_marker.getPosition().lat() != marker.getPosition().lat() && curr_marker.getPosition().lng() != marker.getPosition().lng()) {
                    curr_marker.setAnimation();
                    _animate_marker(marker);
                }
            } else {
                _animate_marker(marker);
            }
        }

        function open_info_window(data, map, infowindow, marker) {
            //alert(data);
            var latlng = new google.maps.LatLng(data.lat, data.lng);
            geocoder.geocode({ 'latLng': latlng }, function (results, status) {
                if (status == google.maps.GeocoderStatus.OK) {
                    if (results[0]) {
                        var html = results[0].formatted_address;


                        var countryIndex = GetCountryIndex(results[0]);
                        if (countryIndex == -1) {
                            var errorMsg = "不能获取正确的国家节点信息!";
                            geos[i].status = errorMsg;
                            return;
                        }

                        data.country = results[0].address_components[countryIndex].long_name;
                        if (countryIndex - 1 >= 0) {
                            data.province = results[0].address_components[countryIndex - 1].long_name;
                        }
                        if (countryIndex - 2 >= 0) {
                            data.city = results[0].address_components[countryIndex - 2].long_name;
                        }
                        if (countryIndex - 3 >= 0) {
                            data.division = results[0].address_components[countryIndex - 3].long_name;
                        }
                        if (countryIndex - 4 >= 0) {
                            data.locality1 = results[0].address_components[countryIndex - 4].long_name;
                        }

                        if (countryIndex - 5 >= 0) {
                            data.locality2 = results[0].address_components[countryIndex - 5].long_name;
                        }

                        html = html + "<hr/><table><tr><td>坐标:</td><td>" + marker.wg_sys_num + "</td></tr><tr><tr><td>省:</td><td>" + data.province + "</td></tr><tr><td>市:</td><td>" + data.city + "</td></tr><tr><td>县区:</td><td>" + data.division + "</td></tr><tr><td>locality1:</td><td>" + data.locality1 + "</td></tr><tr><td>locality2:</td><td>" + data.locality2 + "</td></tr><tr><td></td><td><input type='button' value='确定' onclick='javascript:onSubmit(" + marker.wg_sys_num + ",\"MARKER\");'/></td></tr></table>";

                        infowindow.setContent(html);
                        if (curr_infowin != null && curr_infowin != undefined) {
                            if (curr_infowin.getPosition().lat() != data.lat && curr_infowin.getPosition().lng() != data.lng) {
                                curr_infowin.close();
                                infowindow.open(map, marker);
                                curr_infowin = infowindow;
                            }
                        } else {
                            infowindow.open(map, marker);
                            curr_infowin = infowindow;
                        }


                    }
                } else {
                    alert("Geocoder failed due to: " + status);
                }
            });

        }

        function get_wininfo(data) {

            var contentString = "<a href='javascript:alert(\"打点!\");'>添加我</a>";
            return contentString;
        }           
           
           
    </script>	
{% endblock %}

