{% load i18n %}
<div class="actions">
    {% if cl.opts.object_name.lower in "tags province" or opts.object_name.lower in "tags province" %}
    {% for field in action_form %}
        {% if field.label %}<label>{{ field.label }} {% endif %}{{ field }}{% if field.label %}</label>{% endif %}
        {% endfor %}
{% else %}

<select name="action">
<option value="default_action">选中批量操作</option>
    <option value="delete_selected">删除选中</option>
    {% if cl.opts.object_name.lower in " area" or opts.object_name.lower in " area" %}
        <option value="change_into_place">批量转为地点</option>
    {% endif %}
    {% if cl.opts.object_name.lower in " place" or opts.object_name.lower in " place" %}
        <option value="change_into_area">批量转为景区</option>
    {% endif %}

</select>
<select name="hot">
    <option value>修改星级</option>
    <option value="1">一星</option>
    <option value="2">二星</option>
    <option value="3">三星</option>
    <option value="4">四星</option>
    <option value="5">五星</option>
</select>
<select name="suggest_time">
    <option value>修改建议时间</option>
    <option value="1">随便看看</option>
    <option value="2">半天</option>
    <option value="3">1天</option>
    <option value="4">2天</option>
    <option value="5">3天</option>
    <option value="6">4天</option>
    <option value="7">5天</option>
    <option value="8">6天</option>
    <option value="9">7天</option>
    <option value="10">8天</option>
    <option value="11">9天</option>
    <option value="12">10天</option>
    <option value="13">10天以上</option>
</select>
<input name="tags" type="text" style="width: 220px;" placeholder="批量添加tag,多个tag请用ß逗号隔开" />
{% endif %}
    <button type="submit" class="button" title="{% trans "Run the selected action" %}" name="index" value="{{ action_index|default:0 }}">确认</button>
    {% if actions_selection_counter %}
        <script type="text/javascript">var _actions_icnt="{{ cl.result_list|length|default:"0" }}";</script>
        <span class="action-counter">{{ selection_note }}</span>
        {% if cl.result_count != cl.result_list|length %}
            <span class="all">{{ selection_note_all }}</span>
            <span class="question">
            <a href="javascript:;" title="{% trans "Click here to select the objects across all pages" %}">{% blocktrans with cl.result_count as total_count %}Select all {{ total_count }} {{ module_name }}{% endblocktrans %}</a>
        </span>
            <span class="clear"><a href="javascript:;">{% trans "Clear selection" %}</a></span>
        {% endif %}
    {% endif %}
</div>
