{% extends "admin/index.html" %}
{% load url from future %}
{% load adminmedia admin_list i18n %}
{% block basecontent %}
    <script type="text/javascript">
        (function($) {
            $(document).ready(function($) {
                $("tr input.action-select").actions();
            });
        })(django.jQuery);
    </script>
    {% block name %}
    <h1>{{ list_type_name|default_if_none:'所有' }}-{{ list_loc_name|default_if_none:'' }}-{% blocktrans with cl.opts.verbose_name as name %}{{ name }}{% endblocktrans %}</h1>
    {% endblock %}
    {% block tabs %}
    <div class="tabs">
        <div class="wrap">
            <div id="all1" class="out"><a href="./#all">全部</a></div>
            <div id="lat1"class="out"><a href="?lat__isnull=True#lat">无GPS</a></div>
            <div id="image1" class="out"><a href="?image__isnull=True#image">无照片</a></div>
            <div id="tags1" class="out"><a href="?tags__isnull=True#tags">无主题</a></div>
            <div class="tabnot">
              <a href="add/{% if is_popup %}?_popup=1{% endif %}" class="addlink">
                {% blocktrans with cl.opts.verbose_name as name %}+添加{{ name }}{% endblocktrans %}
              </a>
            </div><!-- end .tabnot -->
        </div>
    </div>
    {% endblock %}

    {% block search_loc %}
        <script type="text/javascript">
            function onShowMap(){
//                var form = document.createElement("form");
//                form.setAttribute("method", "get");
//                form.setAttribute("action", "/showmap");
//                form.setAttribute("target", "_blank");
//
//                var hiddenField = document.createElement("input");
//                hiddenField.setAttribute("name", "map_data");
//                hiddenField.setAttribute("value", $("#search_loc").val());
//                form.appendChild(hiddenField);
//                document.body.appendChild(form);    // Not entirely sure if this is necessary
//                form.submit();
                var locInfo =$("#map_input").val();
                if(locInfo.length <10){
                    alert("没有可显示的数据!");
                    return false;
                }
                return true;
            }
        </script>
        <form id="showmap-form" action="/admin/destination/place/showmap/" method="post" target="_blank" id="formMap">
            {% csrf_token %}
            <input type="submit" value="查看地图" onclick="return onShowMap();" />
            <input name="map_input"  type="hidden" id="map_input" value="{{ search_loc }}"/>
        </form>
    {% endblock %}

    {% if cl.formset.errors %}
        <p class="errornote">
        {% blocktrans count cl.formset.errors|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
        </p>
        {{ cl.formset.non_form_errors }}
    {% endif %}
    <div class="module{% if cl.has_filters %} filtered{% endif %}" id="changelist">
      {% block search %}{% search_form cl %}{% endblock %}
      {% block date_hierarchy %}{% date_hierarchy cl %}{% endblock %}

      {% block filters %}
        {% if cl.has_filters %}
          <div id="changelist-filter">
            <h2>{% trans 'Filter' %}</h2>
            {% for spec in cl.filter_specs %}{% admin_list_filter cl spec %}{% endfor %}
          </div>
        {% endif %}
      {% endblock %}

      <form id="changelist-form" action="" method="post"{% if cl.formset.is_multipart %} enctype="multipart/form-data"{% endif %}>{% csrf_token %}
      {% if cl.formset %}
        <div>{{ cl.formset.management_form }}</div>
      {% endif %}
      {% block result_list %}
          {% if action_form and actions_on_top and cl.full_result_count %}{% admin_actions %}{% endif %}
          {% result_list cl %}
          {% if action_form and actions_on_bottom and cl.full_result_count %}{% admin_actions %}{% endif %}
      {% endblock %}
      {% block pagination %}{% pagination cl %}{% endblock %}
      </form>
    </div>
{% endblock %}
