{% extends "admin/change_list_base.html" %}
{% load url from future %}
{% block tabs %}
            <div class="tabnot">
              <a href="add/{% if is_popup %}?_popup=1{% endif %}" class="addlink">
                  +添加 {{ cl.opts.verbose_name }}
              </a>
            </div><!-- end .tabnot -->
{% endblock %}
{% block filters %}
{% endblock %}

