{% load url from future %}<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load i18n %}
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        {% block extrastyle %}
        <link href="/static/css/admin.css" rel="stylesheet" type="text/css" />
                    {% endblock %}
        <title>欢迎使用tophuwai后台</title>

        <script type="text/javascript" src="/static/admin/js/core.js"></script>
        <script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
        <script type="text/javascript" src="/static/admin/js/jquery.min.js"></script>
        <script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
        <script type="text/javascript" src="/static/admin/js/actions.min.js"></script>
        <script type="text/javascript" src="\static/js/jquery-1.5.2.js"></script>
        <script type="text/javascript" src="/static/js/pid.js"></script>

        <script type="text/javascript">
            // --- 获取ClassName
        document.getElementsByClassName = function(cl) {
            var retnode = [];
            var myclass = new RegExp('\\b'+cl+'\\b');
            var elem = this.getElementsByTagName('*');
            for (var j = 0; j < elem.length; j++) {
                var classes = elem[j].className;
                if (myclass.test(classes)) retnode.push(elem[j]);
            }
            return retnode;
        }
        // --- 隐藏所有
        function HideAll() {
            var items = document.getElementsByClassName("optiton");
            for (var j=0; j<items.length; j++) {
                items[j].style.display = "none";
            }
        }
        // --- 设置cookie
        function setCookie(sName,sValue,expireHours) {
            var cookieString = sName + "=" + escape(sValue);
            //;判断是否设置过期时间
            if (expireHours>0) {
                var date = new Date();
                date.setTime(date.getTime + expireHours * 3600 * 1000);
                cookieString = cookieString + "; expire=" + date.toGMTString();
            }
            document.cookie = cookieString;
        }
        //--- 获取cookie
        function getCookie(sName) {
            var aCookie = document.cookie.split("; ");
            for (var j=0; j < aCookie.length; j++){
                var aCrumb = aCookie[j].split("=");
                if (escape(sName) == aCrumb[0])
                    return unescape(aCrumb[1]);
            }
            return null;
        }
        window.onload = function() {
            {% if cl.opts.object_name.lower in "tags province" or opts.object_name.lower in "tags province" %}
            var show_item = "opt_2";
            {% else %}
                {% if cl.opts.object_name.lower in "user group" or opts.object_name.lower in "user group" %}
                    var show_item = "opt_3";
                    {% else %}

                    var show_item = "opt_1";
                    {% endif %}
            {% endif %}
            /*  if (getCookie("show_item") != null) {
                show_item= "opt_" + getCookie("show_item");
            }*/
            console.info(show_item);

            document.getElementById(show_item).style.display = "block";
            var items = document.getElementsByClassName("title");
            for (var j=0; j<items.length; j++) {
                items[j].onclick = function() {
                    var o = document.getElementById("opt_" + this.name);
                    if (o.style.display != "block") {
                        HideAll();
                        o.style.display = "block";
                        setCookie("show_item",this.name);
                        console.info(this.name+'!!!');
                    }
                    else {
                        o.style.display = "none";

                    }
                }
            }
          //tab闭合得实现
                var hash = location.hash ? location.hash:'#all'
                $(hash+'1').removeClass('out').addClass('in');//.text($(hash+'1'+' a').text());

            //js，列表页全选
                  //  $("tr input.action-select").actions();

        }
        function showsubmenu(sid)
        {
            whichEl = eval("tt" + sid);
            //alert('sadas');
            if (whichEl.style.display!='block')
            {
                eval("tt" + sid + ".style.display=\"block\";");
                //eval("t" + sid + ".src=\"nofollow.gif\";");
                eval("t" + sid + ".innerText=\"－\";");
            }
            else
            {
                eval("tt" + sid + ".style.display=\"none\";");
                //eval("t" + sid + ".src=\"plus.gif\";");
                eval("t" + sid + ".innerText=\"＋\";"); 
            }
        }
    </script>
    </head>
    <body>
        <div class="container">
            <div class="wrapper">
                <div class="content">
                    <div class="userinfo">
                        <span id="username">
                            <strong>{% filter force_escape %}{% firstof user.first_name user.username %}{% endfilter %}</strong></span>-
                            {% if logout_url %}
                                <a id="logout" href="{{ logout_url }}">
                            {% else %}
                                <a id="logout" href="/admin/logout/">
                            {% endif %}
                                    退出</a>
                    </div>  
                    {% block basecontent %}
                    {% endblock %}
                </div>
            </div>
            
            <div class="menu">

                <div class="navigation">


                    <h3><a href="/admin/">首页</a></h3>

                    <ul>
                        <li class="item"><a href="javascript:void(0)" class="title" name="1">目的地</a></li>
                        <ul id="opt_1" class="optiton">
                            <li><a href="/admin/destination/place/" class="title {% spaceless %}
                            {% if cl.opts.object_name.lower == "place" or opts.object_name.lower == "place" %}
                                on
                            {%  endif %}
                            {% endspaceless %}">地名</a></li>
                            <li><a href="/admin/destination/area/" class="title {% spaceless %}
                            {% if cl.opts.object_name.lower in "area scene" or opts.object_name.lower in "area scene" %}
                                on
                            {%  endif %}
                            {% endspaceless %}">景区</a></li>
                            <li><a href="/admin/destination/line/" class="title {% spaceless %}
                            {% if cl.opts.object_name.lower == "line" or opts.object_name.lower == "line" %}
                                on
                            {%  endif %}
                            {% endspaceless %}">线路</a></li>
                        </ul>
                        <li class="item"><a href="javascript:void(0)" class="title" name="2">数据统计</a></li>
                        <ul id="opt_2" class="optiton">
                            <li><a href="/admin/destination/tag/" class="title {% spaceless %}
                            {% if cl.opts.object_name.lower == "tag" or opts.object_name.lower == "tag" %}
                                on
                            {%  endif %}
                            {% endspaceless %}">主题</a></li>
                            <li><a href="/admin/destination/province/" class="title {% spaceless %}
                            {% if cl.opts.object_name.lower == "province" or opts.object_name.lower == "province" %}
                                on
                            {%  endif %}
                            {% endspaceless %}">省市</a></li>
                        </ul>
                        <li class="item"><a href="javascript:void(0)" class="title" name="3">系统设置</a></li>
                        <ul id="opt_3" class="optiton">
                            <li><a href="/admin/auth/user/" class="title {% spaceless %}
                            {% if cl.opts.object_name.lower in "user group" or opts.object_name.lower in "user group" %}
                                on
                            {%  endif %}
                            {% endspaceless %}">用户</a></li>
                            <li><a href="/admin/auth/group/" class="title {% spaceless %}
                            {% if cl.opts.object_name.lower == "group" or opts.object_name.lower == "group" %}
                                noon
                            {%  endif %}
                            {% endspaceless %}">更新</a></li>

                        </ul>
                    <!--     {% if app_list %}
                            {% for app in app_list %}
                            <li class="item"><a href="javascript:void(0)" class="title" name="{{forloop.counter}}">{{ app.name  }}</a></li>
                            <ul id="opt_{{forloop.counter}}" class="optiton">
                                    {% for model in app.models %}
                                    {% if model.perms.change %}
                                            <li><a href="{{ model.admin_url }}" class="title">{{ model.name }}</a></li>
                                    {% endif %}
                                {%endfor%}
                                </ul>
                            {%endfor%}
                        {%endif%}
                     -->
                    </ul>

                </div><!-- .navigation -->

            </div><!-- .menu -->



        </div><!-- .container end -->
</body>
</html>

