{% load admin_list %}
{% load i18n %}
<style type="text/css">
    .paginator a{
        margin: 10px;
    }
    .paginator{
        margin-top: 20px;
        font-size: 15px;
        margin-bottom: 60px;
        margin-left: 40px;
    }
    .this-page{
        font-size: 15px;
    }
</style>
<p class="paginator" >
    {% if pagination_required %}
        {% for i in page_range %}
            {% paginator_number cl i %}
        {% endfor %}
    {% endif %}
    {{ cl.result_count }} {% ifequal cl.result_count 1 %}{{ cl.opts.verbose_name }}{% else %}{{ cl.opts.verbose_name }}{% endifequal %}
    {% if show_all_url %}&nbsp;&nbsp;<a href="{{ show_all_url }}" class="showall">{% trans 'Show all' %}</a>{% endif %}
    {% if cl.formset and cl.result_count %}<input type="submit" name="_save" class="default" value="{% trans 'Save' %}"/>{% endif %}
</p>
