{% load adminmedia %}
{% load i18n %}
{% if cl.search_fields %}
    <div class="search" ><form id="changelist-search" action="" method="get">
        <div><!-- DIV needed for valid HTML -->
          <!--  <label for="searchbar"><img src="{% admin_media_prefix %}img/admin/icon_searchbox.png" alt="Search" /></label>-->
            <input type="text" size="40" name="{{ search_var }}" value="{{ cl.query }}" id="searchbar" />
       {% comment %} {{ cl.query }}
       {% endcomment %}
            {% for pair in cl.params.items %}
                {% ifnotequal pair.0 search_var %}<input type="hidden" class="{{ pair.0 }}" name="{{ pair.0 }}" value="{{ pair.1 }}"></input>{% endifnotequal %}
            {% endfor %}
        {% block search_pid %}
            <script type="text/javascript">
                province_id = null;
                city_id     = null;
                location_id    = null;
                if($("input.province_id").length) {
                  province_id = parseInt($("input.province_id").val());
                  $("input.province_id").attr('disabled', true);
                }
                if($("input.city_id").length) {
                    city_id = parseInt($("input.city_id").val());
                    $("input.city_id").attr('disabled', true);
                }
                if($("input.location").length) {
                    location_id = parseInt($("input.location").val());

                    $("input.location").attr('disabled', true);
                }
                console.log("location:" + location_id);
                search_pid("location", location_id||city_id||province_id);

             </script>
        {% endblock  %}

            <input type="submit" value="搜索" id="search" />

            <script type="text/javascript">

                $("#search").click( function(e){
                    e.preventDefault();

                    var f = $('#changelist-search');
                    //q = "q=" + $("#searchbar").val()
                    //q += "&province_id=" + $("#city").val()
                    city_id = parseInt($("#town").val())
                    location_id = parseInt($("#loc").val())
                    if(city_id) {
                        $("#town").attr('disabled', false)
                        //q += "&city_id=" + city_id
                    } else {
                        $("#town").attr('disabled', true)
                    }
                    province_id = parseInt($("#city").val())
                    if(province_id) {
                        $("#city").attr('disabled', false);

                        $(".province_id").attr('disabled', true);
                        $(".city_id").attr('disabled', true);
                        $(".location").attr('disabled', true);
                        //q += "&city_id=" + city_id
                    } else {
                        $("#city").attr('disabled', true)
                    }
                    if(location_id){
                        $("#city").attr('disabled', true);

                        $(".province_id").attr('disabled', true);
                        $(".city_id").attr('disabled', true);
                        $(".location").attr('disabled', false);
                    }else{
                        $(".location").attr('disabled', true);
                        $("#loc").attr('disabled', true);
                    }
                    //f.action = q
                    f.submit();
                })
                function call(e){

                   //$.find('select[id=city]').attr('disabled',true);
                    //$('#town').attr('disabled',true);
                    //$('#loc').attr('disabled',true);
                    //console.info($.find("input[name=province_id"));

                    //f.submit();
                }

            </script>

            {% if show_result_count %}
                <span class="small quiet">{% blocktrans count cl.result_count as counter %}{{ counter }} result{% plural %}{{ counter }} results{% endblocktrans %} (<a href="?{% if cl.is_popup %}pop=1{% endif %}">{% blocktrans with cl.full_result_count as full_result_count %}{{ full_result_count }} total{% endblocktrans %}</a>)</span>
            {% endif %}
        </div>
    </form></div>
    <script type="text/javascript">document.getElementById("searchbar").focus();</script>
{% endif %}
