<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>地图</title>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.5.2.js"></script>
    <script type="text/javascript" src="http://ditu.google.cn/maps/api/js?sensor=false&language=zh-CN"></script>
    <script type="text/javascript" src="/static/js/StyledMarker.js"></script>
    <script>
        var geocoder = new google.maps.Geocoder();
        var map;
        var color = "#FF8075";
        var styleIconClass = new StyledIcon(StyledIconTypes.CLASS, { color: color, fore: "#FFF" }); //30A7FD
        var arrLatLng = new Array();
        var curr_marker;
        var marker_list = new Array();
        var geos = new Array();
        var routeItems = new Array();
        var txtLat;
        var txtLng;
        var dataSource;
        var template;
        var routeDataSource;
        var routeTemplate;

        $(document).ready(function () {
            var initialSpacesStr = $("#map_input").val() ;
            //var initialSpacesStr = '[[ 132 , "hello" , [29.348765, 119.033256] ], [ 556 , "aaaa中文" , [30.5129849, 118.037543] ],  [ 7288 , "aaaxxxxx" , [31.6129849, 128.037543] ], [ 553 , "bbb中文" , [30.53229849, 119.037543] ]]';
            convertLineFromString(routeItems,initialSpacesStr);
            loadMap();
        });



        function convertLineFromString(routeItems,str){
            routeItems.length = 0;
            if(str.length <5 ){
                return;
            }
            var spaces = eval(str);
            for(var i=0; i< spaces.length;i++){
                var item = spaces[i];
                routeItems[i]= { order: i+ 1,id:item[0], name: item[1], lat: item[2][0], lng: item[2][1] };
            }
        }



        function loadMap() {
            marker_list.length = 0;
            var myOptions = {
                zoom: 8,
                //center: latlng,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            }
            map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

            for (var i = 0; i < routeItems.length; i++) {
                var latlng = new google.maps.LatLng(routeItems[i].lat, routeItems[i].lng);
                //var marker = get_marker("#FF8075", latlng, routeItems[i].name, routeItems[i].order);
                var marker = new google.maps.Marker({
                    position: latlng,
                    map: map,
                    title: routeItems[i].name
                    //icon: "http://maps.google.com/mapfiles/ms/micons/blue-dot.png"
                });
                marker_list[routeItems[i].order] = marker;
                marker.setMap(map);

                if (i == 0) {
                    map.setCenter(latlng);
                }
                var num = routeItems[i].order;
                var xxx = $('#loc_' + num);
                $('#loc_' + num).mouseenter(function () {
                    var index = parseInt(this.id.split('_')[1], 10);
                    marker_list[index].setAnimation(google.maps.Animation.BOUNCE);
                });

                $('#loc_' + num).mouseleave(function () {
                    var index = parseInt(this.id.split('_')[1], 10);
                    marker_list[index].setAnimation();
                });


                //alert(results[i].geometry.location);

            }
        }

        function get_marker(color, latlng, name, num) {
            var styleIconClass = new StyledIcon(StyledIconTypes.CLASS, { color: color, fore: "#FFF" }); //30A7FD
            var marker = new StyledMarker({
                styleIcon: new StyledIcon(StyledIconTypes.MARKER, { text: '' + num }, styleIconClass),
                position: latlng,
                title: name
            });
            marker.wg_sys_num = num;
            return marker;
        }

        function _animate_marker(marker) {
            marker.setAnimation(google.maps.Animation.BOUNCE);
            curr_marker = marker;
        }

        function set_animate_marker(marker) {
            if (curr_marker != null && curr_marker != undefined) {
                if (curr_marker.getPosition().lat() != marker.getPosition().lat() && curr_marker.getPosition().lng() != marker.getPosition().lng()) {
                    curr_marker.setAnimation();
                    _animate_marker(marker);
                }
            } else {
                _animate_marker(marker);
            }
        }

    </script>
</head>
<body>
<input name ="map_input"  id ="map_input" type="hidden" value="{{ map_input }}"/>
<div id="map_canvas"style="width: 100%; height:800px"></div>
</body>
</html>