{% load i18n %}
<div class="buttonrow" {% if is_popup %}style="overflow: auto;"{% endif %}>
        {% if show_save %}<input type="submit" value="保存" class="btn chief" name="_save" onclick="$(this).closest('form').submit();$(this).attr('disabled', true);return false;" {{ onclick_attrib }}/>{% endif %}
    <input type="submit" value="保存并关闭" class="btn " name="_add_close" />
    {% if show_save_as_new %}<input type="submit" value="另存为" class="btn" name="_saveasnew" {{ onclick_attrib }}/>{%endif%}
    {% if show_save_and_add_another %}<input type="submit" value="保存并新建"class="btn" name="_addanother" {{ onclick_attrib }} />{% endif %}
    {% if show_save_and_continue %}<input type="submit" value="保存并继续编辑"class="btn" name="_continue" {{ onclick_attrib }}/>{% endif %}
    {% if show_delete_link %}<a href="delete/" class="btn">删除</a>{% endif %}

</div>
</div>
