<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title> 欢迎使用WCMS2.0 </title>
<style type="text/css">
 </style>
 <script type="text/javascript" src="/static/js/jquery-1.7.1.js"></script>
 <script type="text/javascript" src="/static/js/treeview.js"></script>
 </head>

 <body>
    <div class="topframe">
        <div class="menu" id="menuId">
            <div class="left"><a href="/" >cms首页</a></div>
            <div class="center">
                <ul>
                    <li><span class="selectspan">常用</span></li>
                    <li><span>模板</span></li>
                    <li><span>工具</span></li>
               <!--   <li><span>权限</span></li> -->
                    <li><span>备用</span></li>
                    {% if user.is_super %}
                        <li><span>管理员</span></li>
                        {% endif %}
                </ul>
            </div>
            <div class="right">
                <form id="searchbarForm">
                    <input type="text" class="bor1" id="searchinput" name="desc"/>
                    <input type="submit" name="Submit" value class="btn1" id="search">
                </form>
                
            </div>
        </div>
    
    <!-- 二级菜单栏 -->
    <div class="toolbar">
        <div class="center" >
            <div id="tabs-1" >
                <ul class="clear">
                    <li><a href="/admin/web/news/add/" target="django_channel" ><span>新建新闻</span></a></li>
                    <li><a href="/admin/web/channel/subject/0/add/" target="django_channel" ><span>新建专题</span></a></li>
                 <!--   <li><a href="/admin/web/channel/subject/1/add/" target="django_channel" ><span>新建栏目</span></a></li> -->
                    <li><a href="http://m.sohu.com"  target="_blank" ><span>网站首页</span></a></li>
                </ul>
            </div>
            <div id="tabs-2" class="hide" >
                 <ul class="clear">
                    <li><a href="/admin/web/template/?type=2" target="django_channel" ><span>碎片模板</span></a></li>
                     <li><a href="/admin/web/template/?type=3" target="django_channel" ><span>专题模板</span></a></li>
                     <li><a href="/admin/web/template/?type=1&belong_to__isnull=False" target="django_channel" ><span>页面模板</span></a></li>
                     <li><a href="/admin/web/template/?type=4" target="django_channel" ><span>系统模板</span></a></li>
                     <li><a href="/admin/web/template/" target="django_channel" ><span>全部模板</span></a></li>
                </ul>
            </div>
            <div id="tabs-3" class="hide">
                <ul class="clear">
                    <li><a href="/admin/web/picture/" target="django_channel"><span>上传图片</span></a></li>
                    <li><a href="/admin/web/staticfile/" target="django_channel"><span>上传文件</span></a></li>
                    <li><a href="/admin/web/staticfragmentupdater/" target="django_channel"><span>碎片自动更新工具</span></a></li>
		    <!--  <li><a href="/admin/web/w3channel/" target="django_channel" ><span>WWW频道</span></a></li> -->
                    <li><a href="/static/plugins/html_tag_check_tool/urchin.htm" target="django_channel" ><span>html标签检测</span></a></li>
                </ul>
            </div>
       <!--     <div id="tabs-4" class="hide">
                <ul class="clear">
                    <li><a href="http://cas.cms5.sohu.com/admin/auth/user/" target="django_channel" ><span>用户</span></a></li>
                    <li><a href="http://cas.cms5.sohu.com/admin/core/casgroup/" target="django_channel" ><span>用户组</span></a></li>
                    <li><a href="http://cas.cms5.sohu.com/admin/core/node/" target="django_channel" ><span>节点</span></a></li>
                    <li><a href="http://cas.cms5.sohu.com/admin/core/userpermentry/" target="django_channel" ><span>用户ACL</span></a></li>
                    <li><a href="http://cas.cms5.sohu.com/admin/core/grouppermentry" target="django_channel" ><span>组ACL</span></a></li>
                    <li><a href="http://cas.cms5.sohu.com/admin/core/operation/" target="django_channel" ><span>操作类型</span></a>
                </ul>
            </div> -->
            <div id="tabs-5" class="hide">
                <ul class="clear">
                    <li><a href="/admin/web/news/" target="django_channel" ><span>新闻</span></a></li>
                    <li><a href="/admin/web/picturegroup/" target="django_channel" ><span>组图</span></a></li>
                    <li><a href="/admin/web/staticfragment/" target="django_channel" ><span>静态碎片</span></a></li>
                    <li><a href="/admin/web/dynamicfragment/" target="django_channel" ><span>动态碎片</span></a></li>
                    <li><a href="/admin/web/channel/" target="django_channel" ><span>频道列表</spn></a></li>
                </ul>
                     </div>
        <!--
            <div id="tabs-7">
                <ul>
                    <li><a href="help/help.html" target="mainFrame"><span>帮助</span></a></li>
                    <li><a href="element/element.html" target="mainFrame"><span>系统元素</span></a></li>
                </ul>
            </div>

        <div class="right">
            <ul>
                <li id="closeNav"><a href="javascript:showHidNav()">收起</a></li>
            </ul>
        </div>
       -->
        </div>
        <div style="float:right; margin-right:30px; margin-top:5px; color:black">您好：{{user.fullname}}  <a href = "/logout?next=/">退出</a></div>
    </div>
</div>

    <!-- 顶部下的内容 -->
    <!-- 树形展开结构 -->
<div class="main" id="main">
    <div class="main_left" id="main_left">
        <ul class="treeview" id="tree" >
        </ul>
    </div>
    <div class="pic_box pic_box_show"></div>
    <div class="main_right" id="iframe_div" >
        <iframe  id = "django_channel"  name = "django_channel" style="height:100% ;width:100%; border:None;" scrolling="auto"  onload="resize_fun()"; src = "/admin/"></iframe>
    </div>
</div>

<script type="text/javascript">
var li = $("#menuId ul li");
var li2 = $(".toolbar .center").children();
var data = {{tree|safe}}
$(document).ready(function() {    
    li.bind("click", switchtab);
    $("#search").bind("click", doSearch);
    $(".pic_box").toggle(
        function() {
            $(".main_left").hide();
            var right_width_str = $(".main_right").width() + 216 + 'px';
            var channel_width_str = $("#django_channel").width() + 216 + 'px';
            $(".main_right").css("width", right_width_str); 
            $("#django_channel").css("width", channel_width_str); 
            $(this).removeClass("pic_box_show").addClass("pic_box_hide");
        },
        function() {
            var right_width_str = $(".main").width() + 'px' ;
            var channel_width_str = $(".main").width() - 226 + 'px';
            $(".main_right").css("width", right_width_str); 
            $("#django_channel").css("width", channel_width_str); 
            $(".main_left").show();
            $(this).removeClass("pic_box_hide").addClass("pic_box_show");
        }
    );
    $(window).resize(
        function() {
         resize_fun();
        }
    );
    <!--var treeHtml = createANode(data);-->
    var treeHtml = "";
    for(var i=0; i<data.length; i++){
        treeHtml += createANode(data[i]);
    }
    $("#tree").html(treeHtml);
    //createtree(data);
    $("#tree").treeview();
    $("iframe").css("height",$(document).height() - 100 + "px" );
})

function resize_fun(){
    $("#main").css("height", $(window).height() - 79 + "px");
    $("iframe").css("height", $(window).height() - 100 + "px" );

    if($(".main_left").css("display") == "block"){
        var main_right_str = $(".main").width() + 'px';
        var django_channel_str = $(".main").width() - 226 + 'px';
    }
    else{
        var main_right_str = $(".main").width() + 'px';
        var django_channel_str = $(".main").width() - 14 + 'px';
    }

    $(".main_right").css("width", main_right_str);
    $("#django_channel").css("width",django_channel_str);
}

function switchtab() {
    li.children().removeClass("selectspan");
    $(this).children().addClass("selectspan");
    li2.addClass("hide");
    var index = $("#menuId ul li").index(this);
    li2.eq(index).removeClass("hide");
}
var index = 0;
function createANode(nodeInfo) {
    var icon_name;
    if(nodeInfo.type == 0) {
        icon_name = 'icon1.png';
    }
    else if(nodeInfo.type == 2){
        icon_name = 'icon3.gif';
    }
    else{
        icon_name = 'icon2.png';
    }

    var tree_url = '/admin/web/channel/home/' + nodeInfo.id + '/';
    var icon_url = '/static/images/' + icon_name;

    index ++ ;
    if (nodeInfo.children[0] == undefined) {
        return ' <li><a href= " ' + tree_url + '" target = "django_channel"> ' +'<img  src = "' + icon_url +'" >' + nodeInfo.name + '</a></li> ';
    }
    /*if(index == 1) {
      var html = ' <li class="expandable"><div class="hitarea expandable-hitarea"></div><a href = "/admin/" target = "django_channel">' + nodeInfo.name +'</a><ul >';
    } 
    else {
        var html = ' <li class="expandable"><div class="hitarea expandable-hitarea"></div><a href = " ' + tree_url + '" target = "django_channel">' + '<img width = "10px" height = "10px" src = "' + icon_url + '" >'+ nodeInfo.name + '</a><ul style="display: none;">';
    }*/
    var html = ' <li class="expandable"><div class="hitarea expandable-hitarea"></div><a href = " ' + tree_url + '" target = "django_channel">' + '<img  src = "' + icon_url + '" >'+ nodeInfo.name + '</a><ul style="display: none;">';
    $.each(nodeInfo.children, function(index, childnode) {
        html += createANode(childnode);
    });
    html += ' </ul></li> ';
    return html;
}

function doSearch(){
    var value=$("#searchinput").val();
    if(isNaN(value)){
         //window.location.href="/search/?key="+value;
         window.open("/search/?key="+value);
    }else{
        if(value.length==9){
            $("#django_channel").attr("src","/admin/web/news/"+value+"/");
        }else{
            $("#django_channel").attr("src","/admin/web/picturegroup/"+value+"/");
        }
    }
    return false;
    
}
</script>
</body>
</html>
