{% extends "admin/change_list_base.html" %}
{% load url from future %}
{% load adminmedia admin_list i18n %}
{% block tabs %}
    <div class="tabs">
        <div class="wrap">
            <div id="all1" class="out"><a href="../user#user">用户</a></div>
            <div id="lat1"class="out"><a href="../group#group">用户组</a></div>
            <div class="tabnot">
                <a href="add/{% if is_popup %}?_popup=1{% endif %}" class="addlink">
                    {% blocktrans with cl.opts.verbose_name as name %}+添加{{ name }}{% endblocktrans %}
                </a>
            </div><!-- end .tabnot -->
        </div>
    </div>
{% endblock %}
{% block search_loc %}
{% endblock %}
{% block search %}{% search_form cl %}
{% block search_pid %}
{% endblock %}
{% endblock %}

{% block filters %}
{% endblock %}
{% block result_list %}
    {% result_list cl %}
{% endblock %}