{% extends "admin/change_list_base.html" %}
{% load url from future %}
{% load adminmedia admin_list i18n %}
{% block tabs %}
    <div class="tabs">
    <div class="wrap">
    <div id="all1" class="out"><a href="./#all">景点</a></div>
        <div class="tabnot">
            <a href="add/?area={{area_id }}" class="addlink">
                {% blocktrans with cl.opts.verbose_name as name %}+添加{{ name }}{% endblocktrans %}
            </a>
        </div>

    </div>
    <input id="points" name="points" value="{{ points }}" type="hidden" />
</div>
    <a href="../area/"><< 返回景区</a>

    <script type="text/javascript" src="http://ditu.google.cn/maps/api/js?sensor=false&language=zh-CN"></script>
<script type="text/javascript" src="/static/js/StyledMarker.js"></script>
<div id="map_canvas"style="width: 600px; height: 500px; margin:0 0 20px; ">
</div>

        <script>
            var geocoder = new google.maps.Geocoder();
     var map;
     var color = "#FF8075";
     var styleIconClass = new StyledIcon(StyledIconTypes.CLASS, { color: color, fore: "#FFF" }); //30A7FD
     var arrLatLng = new Array();
     var curr_marker;
     var marker_list = new Array();
     var curr_infowin;
     var geos = new Array();
     var routeItems = new Array();
     var txtLat;
     var txtLng;
     var dataSource;
     var template;
     var routeDataSource;
     var routeTemplate;
 
     var searchedData = new Array();//[{ id: 132, name: "Hello", lat: 29.348765, lng: 119.033256 }, { id: 556, name: "aaaa中文", lat: 30.5129849, lng: 118.037543 }, { id: 7288, name: "aaaxxxxx", lat: 31.6129849, lng: 128.037543 }, { id: 553, name: "bbb中文", lat: 30.53229849, lng: 119.037543}];
     //var searchedData = [{ id: 132, name: "Hessssllo", lat: 29.348765, lng: 119.033256 }, { id: 556, name: "aaaa中文", lat: 30.5129849, lng: 118.037543 }, { id: 7288, name: "aaaxxxxx", lat: 31.6129849, lng: 128.037543 }, { id: 553, name: "bbb中文", lat: 30.53229849, lng: 119.037543}];
	
 $(document).ready(function () {
		var initialSpacesStr = $("#points").val() ;
		//var initialSpacesStr = '[[ 132 , "hello" , [29.348765, 119.033256] ], [ 556 , "aaaa中文" , [30.5129849, 118.037543] ],  [ 7288 , "aaaxxxxx" , [31.6129849, 128.037543] ], [ 553 , "bbb中文" , [30.53229849, 119.037543] ]]';
		 convertLineFromString(routeItems,initialSpacesStr);

		 
		 if(routeItems.length ==0){
			document.getElementById("map_canvas").style.display = "none";
		 }
		 else{
			loadMap();
		 }
      });	
	


	
	function convertLineFromString(routeItems,str){
		routeItems.length = 0;
		if(str.length <5 ){
			return;
		}
		var spaces = eval(str);
		for(var i=0; i< spaces.length;i++){
			var item = spaces[i]; 
			routeItems[i]= { order: i+ 1,id:item[0], name: item[1], lat: item[2][0], lng: item[2][1] };
		}
	}
	
	
	function convertSpotFromString(datas,str){
		datas.length = 0;
		if(str.length <5 ){
			return;
		}		
		var spaces = eval(str);
		for(var i=0; i< spaces.length;i++){
			var item = spaces[i]; 
			datas[i]= { id:item[0], name: item[1], lat: item[2][0], lng: item[2][1] };
		}
	}
	

      function loadMap() {
          marker_list.length = 0;
          var myOptions = {
              zoom: 8,
              //center: latlng,
              mapTypeId: google.maps.MapTypeId.ROADMAP
          }
          map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

          for (var i = 0; i < routeItems.length; i++) {
              var latlng = new google.maps.LatLng(routeItems[i].lat, routeItems[i].lng);
              //var marker = get_marker("#FF8075", latlng, routeItems[i].name, routeItems[i].order);
			  var marker = new google.maps.Marker({
                            position: latlng,
                            map: map,
                            title: routeItems[i].name
							//icon: "http://maps.google.com/mapfiles/ms/micons/blue-dot.png"
                        });

              //marker_list[routeItems[i].order] = marker;
              //marker.setMap(map);

              if (i == 0) {
                  map.setCenter(latlng);
              }
          }
      }

      function get_marker(color, latlng, name, num) {
          var styleIconClass = new StyledIcon(StyledIconTypes.CLASS, { color: color, fore: "#FFF" }); //30A7FD
          var marker = new StyledMarker({
              styleIcon: new StyledIcon(StyledIconTypes.MARKER, { text: '' + num }, styleIconClass),
              position: latlng,
              title: name
          });
          marker.wg_sys_num = num;
          return marker;
      }

      function _animate_marker(marker) {
          marker.setAnimation(google.maps.Animation.BOUNCE);
          curr_marker = marker;
      }

      function set_animate_marker(marker) {
          if (curr_marker != null && curr_marker != undefined) {
              if (curr_marker.getPosition().lat() != marker.getPosition().lat() && curr_marker.getPosition().lng() != marker.getPosition().lng()) {
                  curr_marker.setAnimation();
                  _animate_marker(marker);
              }
          } else {
              _animate_marker(marker);
          }
      }      
      
      </script>
{% endblock %}
{% comment %}
{% block search %}
    <a href="../area/"><< 返回景区</a>
    <div style="margin:0 0 20px; ">
    搜索
    </div>
{% endblock %}
{% endcomment %}