{% extends "admin/change_form_base.html" %}
{% block mapsearch %}
	<div class="maps_search">
			<input id="txtKeyword" type="text" name="keyword" style="color:#bbb;" value="地名关键词" onfocus="if(this.value=='地名关键词'){this.value='';this.style.color='#333333';}" onblur="if(this.value==''){this.value='地名关键词';this.style.color='#bbbbbb';}" />
			<input type="submit" value="搜索" class="btn chief" onclick="getSpot(); return false;" />
	</div>	
	<div id="map_info">
                <table id="locationGrid"  class="k-grid k-widget" style="width:600px">
                    <thead class="k-grid-header">
                        <tr>
                            <th>ID</th>
                            <th>地名</th>
                            <th>经度</th>
                            <th>纬度</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="5"></td>
                        </tr>
                    </tbody>
                </table>
               
                 <script id="template" type="text/x-kendo-template">
                <tr>
                    <td>
                        ${id}
                    </td>
                    <td>
                        #=name#
                    </td>
                    <td>
                        #=lng #
                    </td>
                    <td>
                        ${ lat }
                    </td>
                    <td>
                        <a href='javascript:onAddLocation(${id},"CELL");'>加入</a>
                    </td>
                </tr>
            </script>
                   <!-- <div id="map_canvas"style="width: 600px; height: 500px; margin-bottom:5px; margin-top:5px">
                    </div> -->

                             <table id="routeGrid"  class="k-grid k-widget" style="width:600px">
                    <thead class="k-grid-header">
                        <tr>
                            <th>顺序</th>
                            <th>ID</th>
                            <th>地名</th>
                            <th>经度</th>
                            <th>纬度</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="5"></td>
                        </tr>
                    </tbody>
                </table>

                 <script id="routeTemplate" type="text/x-kendo-template">
                <tr>
                     <td>
                        <select id='list_${id}' onchange="onOrderChange(this,${id})">
                        </select> 
                    </td>
                    <td>
                        <a href='javascript:function(){return false;}' id='loc_${order}'>${id}</a>
                    </td>
                    <td>
                        #=name#
                    </td>
                    <td>
                        #=lng #
                    </td>
                    <td>
                        ${ lat }
                    </td>
                    <td>
                        <a href='javascript:onRemoveLocation(${id},"CELL");'>删除</a>
                    </td>
                </tr>
            </script>

			</div>		
<input name="places" value="{{ places }}"  id="places" type="hidden" />
   {{ form_url }}<!--!!!
    {{ opts }}-->
    {{ cl }}
         <script>
            var geocoder = new google.maps.Geocoder();
     var map;
     var color = "#FF8075";
     var styleIconClass = new StyledIcon(StyledIconTypes.CLASS, { color: color, fore: "#FFF" }); //30A7FD
     var arrLatLng = new Array();
     var curr_marker;
     var marker_list = new Array();
     var curr_infowin;
     var geos = new Array();
     var routeItems = new Array();
     var txtLat;
     var txtLng;
     var dataSource;
     var template;
     var routeDataSource;
     var routeTemplate;
 
     var searchedData = new Array();//[{ id: 132, name: "Hello", lat: 29.348765, lng: 119.033256 }, { id: 556, name: "aaaa中文", lat: 30.5129849, lng: 118.037543 }, { id: 7288, name: "aaaxxxxx", lat: 31.6129849, lng: 128.037543 }, { id: 553, name: "bbb中文", lat: 30.53229849, lng: 119.037543}];
     //var searchedData = [{ id: 132, name: "Hessssllo", lat: 29.348765, lng: 119.033256 }, { id: 556, name: "aaaa中文", lat: 30.5129849, lng: 118.037543 }, { id: 7288, name: "aaaxxxxx", lat: 31.6129849, lng: 128.037543 }, { id: 553, name: "bbb中文", lat: 30.53229849, lng: 119.037543}];
	
 $(document).ready(function () {
          dataSource = new kendo.data.DataSource({
              data: searchedData,
              change: function () {
                  $("#locationGrid tbody").html(kendo.render(template, this.view()));
              }
          });
          template = kendo.template($("#template").html());
          dataSource.read();

          routeDataSource = new kendo.data.DataSource({
              data: routeItems,
              change: function () {
                  $("#routeGrid tbody").html(kendo.render(routeTemplate, this.view()));
                  refreshDropdownList();
              }
          });
          routeTemplate = kendo.template($("#routeTemplate").html());
	      
		  document.getElementById("locationGrid").style.display = "none";
		  
	     var initialSpacesStr = $("#places").val() ;
		 //var initialSpacesStr = '[[ 132 , "hello" , [29.348765, 119.033256] ], [ 556 , "aaaa中文" , [30.5129849, 118.037543] ],  [ 7288 , "aaaxxxxx" , [31.6129849, 128.037543] ], [ 553 , "bbb中文" , [30.53229849, 119.037543] ]]';
		 convertLineFromString(routeItems,initialSpacesStr);

		 routeDataSource.read();
		 if(routeItems.length ==0){
			
			document.getElementById("routeGrid").style.display = "none";
			document.getElementById("map_canvas").style.display = "none";
		 }
      });	
	

	function getSpot(){
		var keyword = $("#txtKeyword").val();
		if(keyword != "" && keyword != "地名关键词"){
			$.get("/admin/destination/line/api/?key="+ encodeURI(keyword), 
				function(data){  
				  if(data.indexOf("status") >=0){  //{"status": 0, "msg": "error"}
					alert("没有找到对应的结果!");
				  }
				  else
				  {
				  //var result = eval(data);
				  //result[0].msg = '[[ 112 , "world" , [29.358765, 119.033256] ], [ 52 , "bbb中文" , [30.6129849, 118.047543] ],  [ 88 , "bbbxxxxx" , [31.6229849, 128.047543] ], [ 53 , "CCC中文" , [30.54229849, 119.037543] ]]';
				  //alert(result[0]);
				  convertSpotFromString(searchedData,  data);
				  dataSource.read();
				  if(searchedData.length > 0){
					document.getElementById("locationGrid").style.display = "";
				  }
				  else{
					alert("没有找到对应的数组结果!转换错误？");
				  }
				}
					
				});
		}
		else{
			alert("请输入关键词");
		}
	}
	
	function convertLineFromString(routeItems,str){
		routeItems.length = 0;
		if(str.length <5 ){
			return;
		}
		var spaces = eval(str);
		for(var i=0; i< spaces.length;i++){
			var item = spaces[i]; 
			routeItems[i]= { order: i+ 1,id:item[0], name: item[1], lat: item[2][0], lng: item[2][1] };
		}
	}
	
	
	function convertSpotFromString(datas,str){
		datas.length = 0;
		if(str.length <5 ){
			return;
		}		
		var spaces = eval(str);
		for(var i=0; i< spaces.length;i++){
			var item = spaces[i]; 
			datas[i]= { id:item[0], name: item[1], lat: item[2][0], lng: item[2][1] };
		}
	}
	
	function convertFromArray(arr){
		var str = "";
		var newArray = new Array();
		for(var i=0; i< arr.length;i++){
			var item = arr[i]; 
			newArray[i] = [item.id,item.name,[item.lat,item.lng]];
		}
		str  =JSON.stringify(newArray);
		return str;
	}

	function array2String(array) {
    var output = "";
    if (array) {
        output += "[";
        for (var i in array) {
            val = array[i];
            switch (typeof val) {
                case ("object"):
                    if (val[0]) {
                        output += array2String(val) + ",";
                    } else {
                        output += object2String(val) + ",";
                    }
                    break;
                case ("string"):
                    //output += "'" + encodeURI(val) + "',";
					output += "'" + val + "',";
                    break;
                default:
                    output += val + ",";
            }
        }
        output = output.substring(0, output.length-1) + "]";
    }
    return output;
}



      function findArrItemById(arr, id) {
          for (var i = 0; i < arr.length; i++) {
              if (arr[i].id == id) {
                  return arr[i];
              }
          }
          return null;
      }

      function findArrIndexById(arr, id) {
          for (var i = 0; i < arr.length; i++) {
              if (arr[i].id == id) {
                  return i;
              }
          }
          return -1;
      }

      function findArrItemByOrder(arr, order) {
          for (var i = 0; i < arr.length; i++) {
              if (arr[i].order == order) {
                  return arr[i];
              }
          }
          return null;
      }


      function onAddLocation(id) {
          var loc = findArrItemById(searchedData,id);
          for (var i = 0; i < routeItems.length; i++) {
              if (routeItems[i].id == loc.id) {
                  alert("该项已被添加! id=" + id + " 名称=" + loc.name);
                  return;
              }
          }
          routeItems[routeItems.length] = { order: routeItems.length + 1,id:loc.id, name: loc.name, lat: loc.lat, lng: loc.lng };
          routeDataSource.read();
          //addOrderItem();
      }

//      function addOrderItem() {
//          for (var i = 0; i < routeItems.length; i++) {
//              var obj = $('#list_' + routeItems[i].id);
//              for (var j = 0; j < routeItems.length; j++) {
//                  obj.append("<option value='" + (j + 1) + "'>" + (j + 1) + "</option>");
//                   if (routeItems[i].order - 1 == j) {
//                       obj.find("option[value='" + routeItems[i].order + "']").attr("selected", "selected");
//                  }
//              }
//          }
//      }

      function refreshDropdownList() {
          for (var i = 0; i < routeItems.length; i++) {
              var obj = $('#list_' + routeItems[i].id);
              for (var j = 0; j < routeItems.length; j++) {
                  obj.append("<option value='" + (j + 1) + "'>" + (j + 1) + "</option>");
                  if (routeItems[i].order - 1 == j) {
                      obj.find("option[value='" + routeItems[i].order + "']").attr("selected", "selected");
                  }
              }
          }
         
		 if(routeItems.length >0){
			document.getElementById("routeGrid").style.display = "";
			document.getElementById("map_canvas").style.display = "";
		 }
		 
          loadMap();

          //Get result;
          var resultArr = new Array();
          for (var i = 0; i < routeItems.length; i++) {
              var item = routeItems[i];
              resultArr[item.order - 1] = item;
          }
		 var  str = "";
		 if(routeItems.length >0){
			str = convertFromArray(resultArr);
		 }
	     $("#places").val(str);
		 //alert($("#places").val());
         
      }

      function onRemoveLocation(id) {
	  if(confirm("确认删除?") == true){
          var index = findArrIndexById(routeItems, id);
          var obj = findArrItemById(routeItems, id);
          var order = obj.order;

		  //alert(index + "," +order + "," + (order + 1)  + "," + (routeItems.length + 1));
          for (var i = parseInt(order,10) + 1; i < routeItems.length + 1; i++) {
              var objfollowed = findArrItemByOrder(routeItems, i);
              objfollowed.order--;
          }
          routeItems.splice(index, 1); 
          routeDataSource.read();
		  
		  if(routeItems.length ==0){
			document.getElementById("routeGrid").style.display = "none";
			document.getElementById("map_canvas").style.display = "none";
		 }
		}
      }

      function onOrderChange(obj, id) {
          var selectedOption = obj.options[obj.selectedIndex];
          var currentObj = findArrItemById(routeItems, id);
          var currentOrder = currentObj.order;
          var newOrder = selectedOption.value;
          var objTobeExchange = findArrItemByOrder(routeItems, newOrder);
          objTobeExchange.order = currentOrder;
          currentObj.order = newOrder;
          routeDataSource.read();
      }


      function loadMap() {
          marker_list.length = 0;
          var myOptions = {
              zoom: 8,
              //center: latlng,
              mapTypeId: google.maps.MapTypeId.ROADMAP
          }
          map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

          for (var i = 0; i < routeItems.length; i++) {
              var latlng = new google.maps.LatLng(routeItems[i].lat, routeItems[i].lng);
              var marker = get_marker("#FF8075", latlng, routeItems[i].name, routeItems[i].order);
              marker_list[routeItems[i].order] = marker;
              marker.setMap(map);

              if (i == 0) {
                  map.setCenter(latlng);
              }
              var num = routeItems[i].order;
              var xxx = $('#loc_' + num);
              $('#loc_' + num).mouseenter(function () {
                  var index = parseInt(this.id.split('_')[1], 10);
                  marker_list[index].setAnimation(google.maps.Animation.BOUNCE);
              });

              $('#loc_' + num).mouseleave(function () {
                  var index = parseInt(this.id.split('_')[1], 10);
                  marker_list[index].setAnimation();
              });

             
              //alert(results[i].geometry.location);

          }
      }

      function get_marker(color, latlng, name, num) {
          var styleIconClass = new StyledIcon(StyledIconTypes.CLASS, { color: color, fore: "#FFF" }); //30A7FD
          var marker = new StyledMarker({
              styleIcon: new StyledIcon(StyledIconTypes.MARKER, { text: '' + num }, styleIconClass),
              position: latlng,
              title: name
          });
          marker.wg_sys_num = num;
          return marker;
      }

      function _animate_marker(marker) {
          marker.setAnimation(google.maps.Animation.BOUNCE);
          curr_marker = marker;
      }

      function set_animate_marker(marker) {
          if (curr_marker != null && curr_marker != undefined) {
              if (curr_marker.getPosition().lat() != marker.getPosition().lat() && curr_marker.getPosition().lng() != marker.getPosition().lng()) {
                  curr_marker.setAnimation();
                  _animate_marker(marker);
              }
          } else {
              _animate_marker(marker);
          }
      }      
      
      </script>
{% endblock %}
